# Operating System
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/

# Environment variables
.env
.env.*

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Dependencies
node_modules/

# Build folders
dist/
build/
